{% extends 'base.html' %}
{% load static %}
{% block title %}Modules{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
<h1>Your Modules</h1>
<div class="container">
    <div class="row">
        {% for module in modules %}
        <div class="col-md-5">
            <div class="card">
                <img class="card-img-top" src="{{ module.image_url }}" alt="Card image cap" style="width:100%;height:200px;">
                <div class="card-block">
                    <h4 class="card-title">{{ module.name }}</h4>
                    <p class="card-text">{{ module.description }}</p>
                </div>
                <div class="card-block">
                    <h5>Required Integrations</h5>
                    <ul class="list-group list-group-flush">
                        {% for integration in module.required_integrations.all %}
                          {% if user in integration.users.all %}
                          <li class="list-group-item"><span class="[ glyphicon glyphicon-ok ]" style="color:green;"></span> - {{ integration.name }}</li>
                          {% else %}
                          <li class="list-group-item"><span class="[ glyphicon glyphicon-remove ]" style="color:red;"></span> - <a href="{{ integration.auth_url }}">{{ integration.name }}</a></li>
                          {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-block">
                    <h5>Possible Payloads</h5>
                    <ul class="list-group list-group-flush">
                        {% for payload in module.possible_payloads.all %}
                        <li class="list-group-item">{{ payload }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-block">
                    {% if user in module.users.all %}
                    <a href="#" class="btn btn-danger">Turn Off</a>
                    {% else %}
                    <a href="#" class="btn btn-success">Turn On</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
